[submodule "external/SQLite"]
	path = external/SQLite
	url = https://github.com/PKtoon/SQLite3-Wrapper.git
	shallow = true
[submodule "external/json"]
	path = external/json
	url = https://github.com/nlohmann/json.git
	shallow = true
[submodule "external/asio"]
	path = external/asio
	url = https://github.com/chriskohlhoff/asio.git
